<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nino's World</title>
    <link href="style.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1974999_10202048172381850_1993343978_n.jpg?oh=71e17fcf70859d24f220c31874032913&oe=572FBCF7"/>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/styles/styles.css"> -->
    <link href="style.css" rel="stylesheet">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="app.js"></script>
  </head>
  <body>
    <header>
  	<img  alt="Ameer's Photo" style="width:250px;height:200px">
  <h1>Nino's World</h1>
  	<ul>
  <li><a href = "Contact.html">Contact<a/></li>
  </ul>
  	</header>
  	<article>
  		<h2>Pick My Brain</h2>
  		<h4>Click an image and see where it takes you!</h4>
  	</article>

  <div class="container">
      <div class="col-xs-3">
          <a href="https://www.google.com/?gws_rd=ssl#q=world+changing+inventions" class="thumbnail">
               <img src="http://rpsec.usca.edu/campinvention/camp-invention-lightbulb2.png" class="img-responsive" style="width:200px;height:200px">
          </a>
      </div>
       <div class="col-xs-3">
          <a href="https://www.google.com/search?q=today%27s+leading+social+trends&biw=725&bih=642&source=lnms&sa=X&ved=0ahUKEwibkqfHnMvKAhUY2mMKHcEsCPMQ_AUIBSgA&dpr=2" class="thumbnail">
               <img src="https://www.salesforce.com/content/dam/blogs/au/Blog%20Images/Social-media-trends.jpg" alt="Social Trends" style="width:200px;height:200px" class="img-responsive">
          </a>
      </div>
      <div class="col-xs-3">
          <a href="https://www.google.com/search?q=social+trends+2016&biw=725&bih=642&source=lnms&sa=X&ved=0ahUKEwj78rvencvKAhVQ_WMKHcE8CTUQ_AUIBSgA&dpr=2#q=hip+hop+influence+on+pop+culture" class="thumbnail">
               <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTbS3wqmpMX9Lj2Jb-oEihfBq_2Cgc7cqPz7XzNFZKuBm7UX8-X" alt="Hip Hop Culture" style="width:200px;height:200px" class="img-responsive">
          </a>
      </div>
      <div class="col-xs-3">
          <a href="https://www.google.com/search?noj=1&biw=725&bih=642&q=Is+the+tech+bubble+safe%3F&oq=Is+the+tech+bubble+safe%3F&gs_l=serp.12...1514.14456.0.17610.25.25.0.0.0.0.275.2873.6j11j4.21.0....0...1c.1.64.serp..4.17.2148.0.dejOf70w0B8" class="thumbnail">
               <img src="http://media.vanityfair.com/photos/55e4c35d669d2a14709fb5ec/master/pass/t-nick-bilton-technology-bubble-new-establishment.jpg" alt="Tech Bubble" style="width:200px;height:200px" class="img-responsive">
          </a>
      </div>
      <div class="col-xs-3">
          <a href="https://www.google.com/?gws_rd=ssl#q=the+internet+of+things+" class="thumbnail">
               <img src="http://blogs-images.forbes.com/steveolenski/files/2014/05/theinternetofthings.jpg" alt="IoT" style="width:200px;height:200px" class="img-responsive">
          </a>
      </div>
      <div class="col-xs-3">
          <a href="https://www.google.com/search?q=NBA&biw=725&bih=642&source=lnms&sa=X&ved=0ahUKEwjP5KCLs8vKAhVY3mMKHbcMAisQ_AUIBSgA&dpr=2" class="thumbnail">
               <img src="https://dff2h0hbfv6w4.cloudfront.net/images/backgrounds/nba.jpg" alt="NBA" style="width:200px;height:200px" class="img-responsive">
          </a>
      </div>
      <div class="col-xs-3">
          <a href="https://www.google.com/search?q=healthy+food&biw=682&bih=642&source=lnms&sa=X&ved=0ahUKEwiCksSoiNDKAhWDKWMKHdboB0UQ_AUIBSgA&dpr=2#q=Eating+habits+that+sustain+longevity" class="thumbnail">
               <img src="http://www.mountainheartcares.com/wp-content/uploads/2015/01/skin-healthy-food.jpeg"alt="Food" style="width:200px;height:200px" class="img-responsive">
          </a>
      </div>
      <div class="col-xs-3">
          <a href="https://www.google.com/search?q=Mens+Fashion+2016&biw=682&bih=642&source=lnms&sa=X&ved=0ahUKEwibwP3widDKAhVBxGMKHVx3Af8Q_AUIBSgA&dpr=2" class="thumbnail">
               <img src="https://image.freepik.com/free-vector/variety-of-men-s-clothing-icons_23-2147522337.jpg"alt="Fashion" style="width:200px;height:200px" class="img-responsive">
          </a>
      </div>
    </div>
  </body>
</html>
